    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
    }
    body {
      background: #222;
      color: #fff;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    /* Header */
.header {
  display: flex;
  align-items: center;
  background-color: #f8f8ed;
  padding: 10px 3%;
  color: #000;
}

.logo img {
  width: 2.3rem;
  margin-right: 20px;
}

.header h1 {
  font-size: 18px;
  font-weight: 550;
}

.menu {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.menu a {
  text-decoration: none;
  color: #000;
  margin: 0 10px;
  font-weight: 300;
  font-size: 14px;
  transition: 0.3s;
}

.menu a:hover {
  color: #93E9BE;
}

    /* Container typing */
    .typing-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 40px 20px;
    }
#typing {
  font-family: monospace;
  font-size: 2em;
  border-right: 3px solid #fdfdfd;
  padding-right: 5px;
  animation: blinkCaret 0.7s step-end infinite;

  /* biar responsif di HP */
  white-space: normal;         
  word-wrap: break-word;       
  overflow-wrap: break-word;   
  max-width: 90vw;             
  text-align: center;          
}
    @keyframes blinkCaret {
      50% { border-color: transparent; }
    }

@media (max-width: 768px) {
  .header { flex-wrap: wrap; text-align: center; }
  .menu { margin: 10px auto 0; flex-wrap: wrap; }
  .photobox { width: 180px; height: 220px; }
}
@media (max-width: 480px) {
  .photobox img { width: 130px; height: 170px; }
  .pengurus h3 { font-size: 18px; }
  .footer-links { flex-direction: column; align-items: center; }
}